{% extends "base.htm" %}

{% block content %}

<div class="content-section">
	<div class="container">
		<div class="content-text">
		<h1>About Timevent</h1>
		<hr>
		<p> <b> Timevent <b/> is a python flask based web app created by  <a href="https://github.com/AbdulKhadhar">Abdul khadar</a> for a project submission in ThinkersHub course 
<i>Python beyond basics</i> . </p>
	<p> Timevent aims at storing events from the user and alerting about their shedules . Timevent isn't a fully packed web app, but is in progress. You can also be a part of Timevent by going to the repo by this <a href="https://github.com/AbdulKhadhar/Timevent"> Link</a>
		</div>
	</div>
</div>
{% endblock %}
