{% extends "base.htm" %}

{% block content %}
<div class="content-section">
	<div class="container">
		<div class="content-text">
			<h1>Hi, {{ current_user.username }}!</h1>

			<form action="/display" method="post">
			<p>
			Title of Event<br>
			{{ form.TitleOfEvent(size=32) }}
			</p>
			<p>
			Discription<br>
			{{ form.Discription(size=32) }}
			</p>
			<p>
			<!--Date of Event<br>
			{{ form.DateOfEvent(size=32) }}-->
			</p>
			<p><input type=submit value="Add Event"></input></form>
		</div>
	</div>
</div>

<!--{% for post in posts %}
<div><p> {{ post.TitleOfEvent }} <br>
{{ post.Disription }} <br>
{{ post.DateOfEvent }} </p></div>

{% endfor %}-->
{% endblock %}
